@import '@/styles/quasar.sass'

//.q-page
//	background-color: $primary !important
//	& > div
//		background-color: white

.bg-error
	background-color: red !important
	a
		color: $primary

.currency-logo
	width: 32px

.banano-address, .banano-transaction-hash
	font-family: $monospaced-font
.q-dark .banano-address
	color: $primary

body
	font-family: $main-font !important

@font-face
	font-family: NeueHansKendrick
	src: url(./styles/fonts/NeueHansKendrick-Regular.ttf)

@font-face
	font-family: OverpassMono
	src: url(./styles/fonts/OverpassMono-Regular.ttf)

/**
	* Dark mode settings
	*/
body.body--dark
	background-color: $secondary !important
	.q-header .q-btn
		color: white
	.q-btn
		color: $secondary
	.q-field--error .q-field__messages
		font-size: 1.3em
		font-weight: bold


body.body--light
	background-color: lighten($secondary, 80%)
