name: CI

# Controls when the action will run.
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build-smart-contract:
    name: "Smart Contract"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "14"
      - run: npm install -g yarn
      - name: Compile & Test
        run: |
          yarn
          yarn test
      - name: Checks
        run: |
          yarn lint
          yarn coverage
  build-frontend:
    name: dAPP
    runs-on: ubuntu-latest
    env:
      working-directory: frontend
    steps:
      - uses: actions/checkout@v2
      - name: Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "14"
      - run: npm install -g yarn
        working-directory: ${{env.working-directory}}
      - name: Build Smart Contract artifacts
        run: |
          yarn
          yarn compile
        working-directory: "."
      - name: Compile & Test
        run: |
          yarn
          yarn build
        # yarn test:unit
        working-directory: ${{env.working-directory}}
